* {
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a:hover {
    cursor: pointer;
}

.container {
    margin: 25px 50px;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding: 0;

}

.degree {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-container input {
    border-radius: 5px;
    background-color: #1E1E1E;
    border: 1px solid #FFFFFF;
    height: 40px;
    padding-left: 10px;
    width: auto;
    color: #FFFFFF;
}

.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px
}

.table {
    border: 1px solid #FFFFFF;
    width: 100%;
    border-radius: 5px;
    border-spacing: 0;
    min-height: 200px;
    overflow-x: auto;
}

th,
td {
    text-align: center;
}

th {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 10px;
}

td {
    padding: 10px;
    border-right: 1px solid #FFFFFF;
}

tbody {
    height: auto;
}

.search {
    border-radius: 5px;
    width: 100%;
    background-color: #1E1E1E;
    border: 1px solid #FFFFFF;
    height: 40px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    padding-left: 10px;
    color:#FFFFFF;
}


.button {
    height: 35px;
    width: 500px;
    border-radius: 5px;
    margin: 25px;
    margin-left: 0;
    margin-top: 25px;
}